<!-- <div class ="nav">
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#"> <b> STUDENT </b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">LECTURER<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Lecture Hall</a>
       <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
  </div>
</nav>
</div> -->






   <ul>
    <li><a class="active" href="#home" routerLink="subject"> <b>SUBJECT </b></a></li>
    <li><a href="#lecturer" routerLink="lecturer"> <b>LECTURER</b></a></li>
    <li><a href="#lecture hall" routerLink="lecture hall"> <b>LECTURE HALL </b></a></li>
    <li><a href="#create"> <b>CREATE TIMETABLE </b></a></li>

   </ul>
