<div class="container">
  <h2> LECTURER FORM</h2>
<form id="form1" action="" #frm="ngForm" (ngSubmit)="saveLecturer()">
  <div class="form-group">
    <label for="formGroupExampleInput">Lecturer Name </label>
    <input type="text" class="form-control" [(ngModel)]="name" name="name" id="formGroupExampleInput" placeholder="Lecturer Name ">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2"> Lecturer Id</label>
    <input type="text" class="form-control" [(ngModel)]="lecid" name="lecid" id="formGroupExampleInput2" placeholder="Lecturer Id">
  </div>
 
  <div class="form-group">
    <label for="formGroupExampleInput2"> E mail</label>
    <input type="text" class="form-control" [(ngModel)]="email" name="email" id="formGroupExampleInput2" placeholder="E mail">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2"> Phone</label>
    <input type="text" class="form-control" [(ngModel)]="phone" name="phone" id="formGroupExampleInput2" placeholder="Phone">
  </div>
</form>
<div class="submit1">
<button type="submit" class="btn btn-primary btn-lg"> <b> SUBMIT </b> </button>
</div>
</div>
<form action="" #frm="ngForm">
    <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Faculty</label>
    <div class="col-sm-10">
       <select class="form-control" id="sel1" name="lecture" >
      <option  >select lecturer</option>
      <option *ngFor="let lecturer of lecturerList"  >{{lecturer.email}}</option>
      </select>
    </div>
   </div>
</form>
