<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Lecturer Name </label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Lecturer Name ">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2"> Lecturer Id</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Subject Id">
  </div>
  <!-- <div>
    <label for="formGroupExampleInput">Year</label>
  <select class="form-control">
  <option>select year</option>
</select>
</div> -->
  <div class="form-group">
    <label for="formGroupExampleInput2"> E mail</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="E mail">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2"> Phone</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Phone">
  </div>
</form>
<div class="submit1">
<button type="button" class="btn btn-primary btn-lg"> <b> SUBMIT </b> </button>
</div>
