<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Subject Name </label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Subject Name ">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2"> Subject Id</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Subject Id">
  </div>
  <div>
    <label for="formGroupExampleInput">Year</label>
  <select class="form-control">
  <option>select year</option>
</select>
</div>
  <div class="form-group">
    <label for="formGroupExampleInput2"> Lecturer Id</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Lecturer Id">
  </div>
</form>
<div class="submit2">
<button type="button" class="btn btn-primary btn-lg"> <b> SUBMIT </b> </button>
</div>
