<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Lecture Hall Name </label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Lecture Hall Name ">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2"> Lecturer Hall Id</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Lecture Hall Id">
  </div>
</form>

<div class="submit3">
<button type="button" class="btn btn-primary btn-lg"> <b> SUBMIT </b> </button>
</div>
