<body>
<div class ="front">
  <div class="text1">
<h2><b> DEPARTMENT OF COMPUTING AND INFORMATION SYSTEMS</b> </h2>
</div>
<div class="btn1">
  <div class="btn2">
    <button type="button" class="btn btn-secondary btn-lg"> <b>ADMIN </b></button> <br> <br> <br>
<!-- <input type="button" routerLink="login" id="b1"name="submit" value="ADMIN"   > -->
</div>
<div class="btn3">
  <button type="button" class="btn btn-secondary btn-lg"><b>View TimeTable </b></button>
<!-- <input type="button"id="b2" name="submit" value="View TimeTable"> -->
</div>
</div>
</div>
</body>
